<ion-view view-title="Duolog" hide-nav-bar="true" ng-init="initialize()">
  <ion-content>

  <div class="background-container">
    <div class="duo-header">

      <div class="duo-header-logo">
        <img src="img/logo.png" ></div>
      </div>

      <div class="duo-header-text">
        <h2>Duolog</h2>
        <span>Serviço de simulação de experimentos utilizando traces de redes WIFI</span>
      </div>
    </div>
  </div>

    <div class="main-container">


      <div class="first-section">
        <div class="log-item" ng-repeat="log in logs" ng-click="loadLog($index, log.url)">
          <span class="log-item-name">
            {{log.name}}
          </span>

          <div>
            <span class="log-date">
              {{log.date}}
            </span>
            <button class="button button-small icon ion-ios-arrow-forward">
            </button>
          </div>
        </div>



      </div>

      <div class="second-section">

        <div>
          <img src=""/>
          <p></p>
        </div>

      </div>

      <div class="third-section">

        <div>
          <img src=""/>
          <p></p>
        </div>


      </div>

    </div>


 </ion-content>
</ion-view>
